.build/
.claude/
.idea/
.swiftpm/
.vscode/
*.d
*.dia
*.DS_Store
*.swiftdeps
*.swiftmodule
*.xcuserstate
**/xcuserdata/
**/xcshareddata/swiftpm/
**/xcshareddata/WorkspaceSettings.xcsettings
build/
CLAUDE.md
DerivedData/
LocalSigning.xcconfig
