<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>MIQ</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSMinimumSystemVersion</key>
	<string>14.0</string>
	<key>MIQAppGroupID</key>
	<string>$(APP_GROUP_ID)</string>
	<key>NSHumanReadableCopyright</key>
	<string>Licensed under the MIT License</string>
	<key>NSQuitAlwaysKeepsWindows</key>
	<false/>
	<key>UTImportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>public.gzip</string>
			</array>
			<key>UTTypeDescription</key>
			<string>NIfTI-1 Image</string>
			<key>UTTypeIdentifier</key>
			<string>org.nifti.nii</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>nii</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>application/x-nifti</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>public.gzip</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Gzipped NIfTI-1 Image</string>
			<key>UTTypeIdentifier</key>
			<string>org.nifti.nii-gz</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>nii.gz</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>application/gzip</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>FreeSurfer MGH Volume</string>
			<key>UTTypeIdentifier</key>
			<string>org.freesurfer.mgh</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>mgh</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>application/x-mgh</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>public.gzip</string>
			</array>
			<key>UTTypeDescription</key>
			<string>FreeSurfer MGZ Volume</string>
			<key>UTTypeIdentifier</key>
			<string>org.freesurfer.mgz</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>mgz</string>
					<string>mgh.gz</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>application/gzip</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>MRtrix Image Format</string>
			<key>UTTypeIdentifier</key>
			<string>org.mrtrix.mif</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>mif</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>application/x-mrtrix</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>public.gzip</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Compressed MRtrix Image Format</string>
			<key>UTTypeIdentifier</key>
			<string>org.mrtrix.mif-gz</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>mif.gz</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>application/gzip</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Nearly Raw Raster Data</string>
			<key>UTTypeIdentifier</key>
			<string>org.teem.nrrd</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>nrrd</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>application/x-nrrd</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
